
.bill{
    position: relative;
}
.dataFont{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1vw;
    color: #5E7A7D;
    margin-bottom: 10px;
    /* display: none; */
}

/* .dolarIcon{
    position: absolute;
    top: 100px;
    padding-left: 10px;
} */

.inputField{
    height: 5vh;
    width: 100%;
    border-radius: 5px;
    
    border: 2px solid #26C2AE;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1vw;
    padding-right: 1vw;
    /* identical to box height */
    box-sizing: border-box;
    text-align: right;

    color: #00474B;
    /* display: none; */
    
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media (max-width: 940px) {

    .dataFont{
        font-size: 1rem;
    }

    .inputField{
        height: 5vh;
        font-size: 1rem;
    }

}
